.hide {
  display: none;
}

.correct {
  background-color: green;
}

* {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-container .question {
  display: flex;
  justify-content: center;
}
.card-container .answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.card-container #a, .card-container #c {
  width: 30vw;
  margin-left: 10vw;
}
.card-container #b, .card-container #d {
  width: 30vw;
}
.card-container .next {
  width: 30vw;
  margin-left: 30vw;
}