.hide {
  display: none;
}

.correct {
  background-color: green;
}

* {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.opening {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/title.jpeg");
}
.opening .start {
  width: 20vw;
  height: 15vh;
  margin-top: 300px;
  margin-right: 200px;
  border-radius: 7px;
  background: none;
  color: azure;
}

.hidden {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/background.jpeg");
  height: 80vh;
}
.card-container .question {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
.card-container .answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.card-container #a,
.card-container #c {
  width: 20vw;
  margin-left: 10vw;
  font-size: 20px;
  background: #b9044e;
  background: linear-gradient(90deg, #b9044e 0%, #99045e 36%, #6e0386 100%);
}
.card-container #b,
.card-container #d {
  width: 20vw;
  font-size: 20px;
  background: #b9044e;
  background: linear-gradient(90deg, #b9044e 0%, #99045e 36%, #6e0386 100%);
}
.card-container .next {
  width: 30vw;
  margin-left: 30vw;
  background-color: antiquewhite;
}

.home {
  background-color: purple;
  font-size: 18px;
  margin-bottom: 10px;
  font-style: bold;
}