.hide {
  display: none;
}

.correct {
  background-color: green;
}

* {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.opening {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/title.jpeg");
}
.opening .start {
  width: 20vw;
  height: 9vh;
  margin-top: 350px;
  margin-right: 200px;
  border-radius: 7px;
  background: none;
  color: azure;
  margin-left: 110px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/background.jpeg");
  height: 80vh;
  border: 3px solid black;
}
.card-container .question {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  background-color: black;
  height: 80px;
  width: 1000px;
  text-align: center;
  margin-left: 55px;
}
.card-container .answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.card-container #a,
.card-container #c {
  width: 20vw;
  margin-left: 10vw;
  font-size: 20px;
  font-weight: bolder;
  background-color: whitesmoke;
  color: black;
}
.card-container #b,
.card-container #d {
  width: 20vw;
  margin-left: 100px;
  font-size: 20px;
  font-weight: bolder;
  background-color: whitesmoke;
  color: black;
}
.card-container .next {
  width: 20vw;
  margin-left: 35vw;
  margin-top: 100px;
  background-color: black;
  color: whitesmoke;
  font-size: 16px;
}

.home {
  background-color: black;
  font-size: 18px;
  margin-bottom: 10px;
  font-style: bolder;
  color: whitesmoke;
}